<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.cms.category.persistence.CategoryMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
		T.ID AS "id",
		T.CREATE_DATE AS "createDate",
		T.CREATE_USER AS "createUser",
		T.UPDATE_DATE AS "updateDate",
		T.UPDATE_USER AS "updateUser",
		T.REMARKS AS "remarks",
		T.DEL_FLAG AS "delFlag",
		T.SITE_ID AS "siteId",
		T.MODULE AS "module",
		T.NAME AS "name",
		T.PARENT_ID AS "parentId",
		T.HREF AS "href",
		T.EXTENDS_INFO AS "extendsInfo",
		T.TARGET AS "target",
		T.DESCRIPTION AS "description",
		T.KEYWORDS AS "keywords",
		T.SEQ AS "seq",
		T.IN_MENU AS "inMenu",
		T.IN_LIST AS "inList",
		T.IS_COMMENT AS "isComment",
		T.IS_AUDIT AS "isAudit",
		T.CUSTOM_LIST_VIEW AS "customListView",
		T.CUSTOM_CONTENT_VIEW AS "customContentView",
		T.VIEW_CONFIG AS "viewConfig"
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="id != null and id != ''">
				
			</if>
			<if test="createDate != null and createDate != ''">
				AND T.CREATE_DATE = #{createDate}
			</if>
			<if test="createUser != null and createUser != ''">
				AND T.CREATE_USER LIKE '%${createUser}%'
			</if>
			<if test="updateDate != null and updateDate != ''">
				AND T.UPDATE_DATE = #{updateDate}
			</if>
			<if test="updateUser != null and updateUser != ''">
				AND T.UPDATE_USER LIKE '%${updateUser}%'
			</if>
			<if test="remarks != null and remarks != ''">
				AND T.REMARKS LIKE '%${remarks}%'
			</if>
			<if test="delFlag != null and delFlag != ''">
				AND T.DEL_FLAG LIKE '%${delFlag}%'
			</if>
			<if test="siteId != null and siteId != ''">
				AND T.SITE_ID LIKE '%${siteId}%'
			</if>
			<if test="module != null and module != ''">
				AND T.MODULE LIKE '%${module}%'
			</if>
			<if test="name != null and name != ''">
				AND T.NAME LIKE '%${name}%'
			</if>
			<if test="parentId != null and parentId != ''">
				AND T.PARENT_ID LIKE '%${parentId}%'
			</if>
			<if test="href != null and href != ''">
				AND T.HREF LIKE '%${href}%'
			</if>
			<if test="extendsInfo != null and extendsInfo != ''">
				AND T.EXTENDS_INFO LIKE '%${extendsInfo}%'
			</if>
			<if test="target != null and target != ''">
				AND T.TARGET LIKE '%${target}%'
			</if>
			<if test="description != null and description != ''">
				AND T.DESCRIPTION LIKE '%${description}%'
			</if>
			<if test="keywords != null and keywords != ''">
				AND T.KEYWORDS LIKE '%${keywords}%'
			</if>
			<if test="seq != null and seq != ''">
				AND T.SEQ = #{seq}
			</if>
			<if test="inMenu != null and inMenu != ''">
				AND T.IN_MENU LIKE '%${inMenu}%'
			</if>
			<if test="inList != null and inList != ''">
				AND T.IN_LIST LIKE '%${inList}%'
			</if>
			<if test="isComment != null and isComment != ''">
				AND T.IS_COMMENT LIKE '%${isComment}%'
			</if>
			<if test="isAudit != null and isAudit != ''">
				AND T.IS_AUDIT LIKE '%${isAudit}%'
			</if>
			<if test="customListView != null and customListView != ''">
				AND T.CUSTOM_LIST_VIEW LIKE '%${customListView}%'
			</if>
			<if test="customContentView != null and customContentView != ''">
				AND T.CUSTOM_CONTENT_VIEW LIKE '%${customContentView}%'
			</if>
			<if test="viewConfig != null and viewConfig != ''">
				
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY 
		<if test="sort != null and sort != ''">
			${sort} ${order},
		</if>
		T.SEQ ASC,T.CREATE_DATE DESC 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findOne" resultType="com.seeyoui.kensite.framework.cms.category.domain.Category">
		SELECT
		<include refid="tableColumns" />
		FROM CMS_CATEGORY T
		WHERE T.ID = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findList" resultType="com.seeyoui.kensite.framework.cms.category.domain.Category">
		SELECT
		<include refid="tableColumns"/>
		FROM CMS_CATEGORY T
		<include refid="whereStr"/>
		<include refid="orderBy"/>
		<![CDATA[ limit #{row}, #{rows}]]>
	</select>
	
	<!-- 查询所有数据集合 -->
	<select id="findAll" resultType="com.seeyoui.kensite.framework.cms.category.domain.Category">
		SELECT
		<include refid="tableColumns"/>
		FROM CMS_CATEGORY T
		<include refid="whereStr"/>
		<include refid="orderBy"/>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findTotal" resultType="Integer">
		SELECT
		COUNT(1) total
		FROM CMS_CATEGORY T
		<include refid="whereStr"/>
	</select>
	
	<!-- 查询数据总数排除当前数据 -->
	<select id="findExTotal" resultType="Integer">
		SELECT
		COUNT(1) total
		FROM CMS_CATEGORY T
		<include refid="whereStr"/>
		AND T.ID != #{id}
	</select>
	
	<!-- 数据新增 -->
	<insert id="save" parameterType="com.seeyoui.kensite.framework.cms.category.domain.Category">
		INSERT INTO CMS_CATEGORY (
			
			
			
			
			
			REMARKS,
			DEL_FLAG,
			SITE_ID,
			MODULE,
			NAME,
			PARENT_ID,
			HREF,
			EXTENDS_INFO,
			TARGET,
			DESCRIPTION,
			KEYWORDS,
			SEQ,
			IN_MENU,
			IN_LIST,
			IS_COMMENT,
			IS_AUDIT,
			CUSTOM_LIST_VIEW,
			CUSTOM_CONTENT_VIEW,
			VIEW_CONFIG,
			CREATE_USER,
			CREATE_DATE,
			ID
		)
		VALUES (
			
			
			
			
			
			#{remarks,jdbcType=VARCHAR},
			#{delFlag,jdbcType=VARCHAR},
			#{siteId,jdbcType=VARCHAR},
			#{module,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{parentId,jdbcType=VARCHAR},
			#{href,jdbcType=VARCHAR},
			#{extendsInfo,jdbcType=VARCHAR},
			#{target,jdbcType=VARCHAR},
			#{description,jdbcType=VARCHAR},
			#{keywords,jdbcType=VARCHAR},
			#{seq,jdbcType=NUMERIC},
			#{inMenu,jdbcType=VARCHAR},
			#{inList,jdbcType=VARCHAR},
			#{isComment,jdbcType=VARCHAR},
			#{isAudit,jdbcType=VARCHAR},
			#{customListView,jdbcType=VARCHAR},
			#{customContentView,jdbcType=VARCHAR},
			#{viewConfig,jdbcType=CLOB},
			#{createUser.userName},
			now(),
			#{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="update" parameterType="com.seeyoui.kensite.framework.cms.category.domain.Category">
		UPDATE CMS_CATEGORY
		<set>
			
			
			
			
			
			<if test="remarks !=null and remarks !=''">
			REMARKS=#{remarks},
			</if>
			<if test="delFlag !=null and delFlag !=''">
			DEL_FLAG=#{delFlag},
			</if>
			<if test="siteId !=null and siteId !=''">
			SITE_ID=#{siteId},
			</if>
			<if test="module !=null and module !=''">
			MODULE=#{module},
			</if>
			<if test="name !=null and name !=''">
			NAME=#{name},
			</if>
			<if test="parentId !=null and parentId !=''">
			PARENT_ID=#{parentId},
			</if>
			<if test="href !=null and href !=''">
			HREF=#{href},
			</if>
			<if test="extendsInfo !=null and extendsInfo !=''">
			EXTENDS_INFO=#{extendsInfo},
			</if>
			<if test="target !=null and target !=''">
			TARGET=#{target},
			</if>
			<if test="description !=null and description !=''">
			DESCRIPTION=#{description},
			</if>
			<if test="keywords !=null and keywords !=''">
			KEYWORDS=#{keywords},
			</if>
			<if test="seq !=null and seq !=''">
			SEQ=#{seq},
			</if>
			<if test="inMenu !=null and inMenu !=''">
			IN_MENU=#{inMenu},
			</if>
			<if test="inList !=null and inList !=''">
			IN_LIST=#{inList},
			</if>
			<if test="isComment !=null and isComment !=''">
			IS_COMMENT=#{isComment},
			</if>
			<if test="isAudit !=null and isAudit !=''">
			IS_AUDIT=#{isAudit},
			</if>
			<if test="customListView !=null and customListView !=''">
			CUSTOM_LIST_VIEW=#{customListView},
			</if>
			<if test="customContentView !=null and customContentView !=''">
			CUSTOM_CONTENT_VIEW=#{customContentView},
			</if>
			<if test="viewConfig !=null and viewConfig !=''">
			VIEW_CONFIG=#{viewConfig},
			</if>
			UPDATE_USER = #{updateUser.userName},
			UPDATE_DATE = now(),
			ID = #{id}
		</set>
		WHERE ID = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="delete">
		DELETE FROM CMS_CATEGORY WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
</mapper>