.icon-menuBtn-amountWord{background:url('img/menuBtn/amountWord.png') no-repeat center center;}
.icon-menuBtn-autowarp{background:url('img/menuBtn/autowarp.png') no-repeat center center;}
.icon-menuBtn-BackgroundColor{background:url('img/menuBtn/BackgroundColor.png') no-repeat center center;}
.icon-menuBtn-blod{background:url('img/menuBtn/blod.png') no-repeat center center;}
.icon-menuBtn-BorderAll{background:url('img/menuBtn/BorderAll.png') no-repeat center center;}
.icon-menuBtn-BorderBottom{background:url('img/menuBtn/BorderBottom.png') no-repeat center center;}
.icon-menuBtn-BorderColor{background:url('img/menuBtn/BorderColor.png') no-repeat center center;}
.icon-menuBtn-BorderHorizontal{background:url('img/menuBtn/BorderHorizontal.png') no-repeat center center;}
.icon-menuBtn-BorderInside{background:url('img/menuBtn/BorderInside.png') no-repeat center center;}
.icon-menuBtn-BorderLeft{background:url('img/menuBtn/BorderLeft.png') no-repeat center center;}
.icon-menuBtn-BorderOutline{background:url('img/menuBtn/BorderOutline.png') no-repeat center center;}
.icon-menuBtn-BorderRemove{background:url('img/menuBtn/BorderRemove.png') no-repeat center center;}
.icon-menuBtn-BorderRight{background:url('img/menuBtn/BorderRight.png') no-repeat center center;}
.icon-menuBtn-BorderTop{background:url('img/menuBtn/BorderTop.png') no-repeat center center;}
.icon-menuBtn-BorderVertical{background:url('img/menuBtn/BorderVertical.png') no-repeat center center;}
.icon-menuBtn-bottomAlign{background:url('img/menuBtn/bottomAlign.png') no-repeat center center;}
.icon-menuBtn-centerAlign{background:url('img/menuBtn/centerAlign.png') no-repeat center center;}
.icon-menuBtn-cleanAll{background:url('img/menuBtn/cleanAll.png') no-repeat center center;}
.icon-menuBtn-cleanContent{background:url('img/menuBtn/cleanContent.png') no-repeat center center;}
.icon-menuBtn-cleanStyle{background:url('img/menuBtn/cleanStyle.png') no-repeat center center;}
.icon-menuBtn-colDelete{background:url('img/menuBtn/colDelete.png') no-repeat center center;}
.icon-menuBtn-colInsert{background:url('img/menuBtn/colInsert.png') no-repeat center center;}
.icon-menuBtn-detailAdd{background:url('img/menuBtn/detailAdd.png') no-repeat center center;}
.icon-menuBtn-detailDel{background:url('img/menuBtn/detailDel.png') no-repeat center center;}
.icon-menuBtn-detailTail{background:url('img/menuBtn/detailTail.png') no-repeat center center;}
.icon-menuBtn-detailTitle{background:url('img/menuBtn/detailTitle.png') no-repeat center center;}
.icon-menuBtn-edit{background:url('img/menuBtn/edit.png') no-repeat center center;}
.icon-menuBtn-fieldPro{background:url('img/menuBtn/fieldPro.png') no-repeat center center;}
.icon-menuBtn-financeBody{background:url('img/menuBtn/financeBody.png') no-repeat center center;}
.icon-menuBtn-financeTitle{background:url('img/menuBtn/financeTitle.png') no-repeat center center;}
.icon-menuBtn-fontcolor{background:url('img/menuBtn/fontcolor.png') no-repeat center center;}
.icon-menuBtn-formatRush{background:url('img/menuBtn/formatRush.png') no-repeat center center;}
.icon-menuBtn-italic{background:url('img/menuBtn/italic.png') no-repeat center center;}
.icon-menuBtn-leftAlign{background:url('img/menuBtn/leftAlign.png') no-repeat center center;}
.icon-menuBtn-leftretract{background:url('img/menuBtn/leftretract.png') no-repeat center center;}
.icon-menuBtn-MergenBx{background:url('img/menuBtn/MergenBx.png') no-repeat center center;}
.icon-menuBtn-middelAlign{background:url('img/menuBtn/middelAlign.png') no-repeat center center;}
.icon-menuBtn-morePro{background:url('img/menuBtn/morePro.png') no-repeat center center;}
.icon-menuBtn-readonly{background:url('img/menuBtn/readonly.png') no-repeat center center;}
.icon-menuBtn-require{background:url('img/menuBtn/require.png') no-repeat center center;}
.icon-menuBtn-rightALign{background:url('img/menuBtn/rightALign.png') no-repeat center center;}
.icon-menuBtn-rightretract{background:url('img/menuBtn/rightretract.png') no-repeat center center;}
.icon-menuBtn-rowDelete{background:url('img/menuBtn/rowDelete.png') no-repeat center center;}
.icon-menuBtn-rowInsert{background:url('img/menuBtn/rowInsert.png') no-repeat center center;}
.icon-menuBtn-settingBx{background:url('img/menuBtn/settingBx.png') no-repeat center center;}
.icon-menuBtn-showgridline{background:url('img/menuBtn/showgridline.png') no-repeat center center;}
.icon-menuBtn-showtitle{background:url('img/menuBtn/showtitle.png') no-repeat center center;}
.icon-menuBtn-splitBx{background:url('img/menuBtn/splitBx.png') no-repeat center center;}
.icon-menuBtn-thousands{background:url('img/menuBtn/thousands.png') no-repeat center center;}
.icon-menuBtn-topAlign{background:url('img/menuBtn/topAlign.png') no-repeat center center;}
.icon-menuBtn-colwidth{background:url('img/menuBtn/colwidth.png') no-repeat center center;}
.icon-menuBtn-rowheight{background:url('img/menuBtn/rowheight.png') no-repeat center center;}

.icon-menuBtn-thin{background:url('img/border/thin.png') no-repeat center center;}
.icon-menuBtn-medium{background:url('img/border/medium.png') no-repeat center center;}
.icon-menuBtn-dashed{background:url('img/border/dashed.png') no-repeat center center;}
.icon-menuBtn-thick{background:url('img/border/thick.png') no-repeat center center;}
.icon-menuBtn-double{background:url('img/border/double.png') no-repeat center center;}
.icon-menuBtn-hair{background:url('img/border/hair.png') no-repeat center center;}
.icon-menuBtn-mediumdashed{background:url('img/border/mediumdashed.png') no-repeat center center;}