<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.system.persistence.SysDepartmentMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
	    t.id as "id",
	    t.parent_id as "parentId",
	    t.sequence as "sequence",
	    t.name as "name",
	    t.code as code
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="id != null and id != ''">
				and t.id LIKE '%${id}%'
			</if>
			<if test="parentId != null and parentId != ''">
				and t.parent_id LIKE '%${parentId}%'
			</if>
			<if test="sequence != null and sequence != ''">
				and t.sequence = ${sequence}
			</if>
			<if test="name != null and name != ''">
				and t.name LIKE '%${name}%'
			</if>
			<if test="code != null and code != ''">
				and t.code LIKE '%${code}%'
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY t.sequence asc 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findOne" resultType="com.seeyoui.kensite.framework.system.domain.SysDepartment">
		SELECT
		<include refid="tableColumns" />
		FROM SYS_DEPARTMENT t
		WHERE id = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findList" resultType="com.seeyoui.kensite.framework.system.domain.SysDepartment">
		SELECT
		<include refid="tableColumns"/>
		FROM SYS_DEPARTMENT t
		<include refid="whereStr"/>
		<include refid="orderBy"/>
		<![CDATA[ limit #{row}, #{rows}]]>
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findAll" resultType="com.seeyoui.kensite.framework.system.domain.SysDepartment">
		SELECT
		<include refid="tableColumns"/>
		FROM SYS_DEPARTMENT t
		<include refid="whereStr"/>
		<include refid="orderBy"/>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findTotal" resultType="Integer">
		SELECT COUNT(1)
		FROM SYS_DEPARTMENT t
		<include refid="whereStr"/>
	</select>
	
	<!-- 数据新增 -->
	<insert id="save" parameterType="com.seeyoui.kensite.framework.system.domain.SysDepartment">
		INSERT INTO SYS_DEPARTMENT (
	    	parent_id,
	    	sequence,
	    	name,
	    	code,
		    id
		)
		VALUES (
			#{parentId,jdbcType=VARCHAR},
			#{sequence,jdbcType=NUMERIC},
			#{name,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
		    #{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="update" parameterType="com.seeyoui.kensite.framework.system.domain.SysDepartment">
		UPDATE SYS_DEPARTMENT
		<set>
	    	<if test="parentId !=null and parentId !=''">
			parent_id=#{parentId},
			</if>
	    	<if test="sequence !=null and sequence !=''">
			sequence=#{sequence},
			</if>
	    	<if test="name !=null and name !=''">
			name=#{name},
			</if>
	    	<if test="code !=null and code !=''">
			code=#{code},
			</if>
		    id = #{id}
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="delete">
		DELETE FROM SYS_DEPARTMENT WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
</mapper>