<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.system.persistence.SysModuleMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
	    t.id,
	    t.name,
	    t.shiro
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="id != null and id != ''">
				and t.id LIKE '%${id}%'
			</if>
			<if test="name != null and name != ''">
				and t.name LIKE '%${name}%'
			</if>
			<if test="shiro != null and shiro != ''">
				and t.shiro LIKE '%${shiro}%'
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY t.shiro ASC 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findOne" resultType="com.seeyoui.kensite.framework.system.domain.SysModule">
		SELECT
		<include refid="tableColumns" />
		FROM SYS_MODULE t
		WHERE t.id = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findList" resultType="com.seeyoui.kensite.framework.system.domain.SysModule">
		SELECT
		<include refid="tableColumns"/>
		FROM SYS_MODULE t
		<include refid="whereStr"/>
		<include refid="orderBy"/>
		<![CDATA[ limit #{row}, #{rows}]]>
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findAll" resultType="com.seeyoui.kensite.framework.system.domain.SysModule">
		SELECT
		<include refid="tableColumns"/>
		FROM SYS_MODULE t
		<include refid="whereStr"/>
		<include refid="orderBy"/>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findTotal" resultType="Integer">
		SELECT
		COUNT(id)total
		FROM SYS_MODULE t
		<include refid="whereStr"/>
	</select>
	
	<!-- 数据新增 -->
	<insert id="save" parameterType="com.seeyoui.kensite.framework.system.domain.SysModule">
		INSERT INTO SYS_MODULE (
	    	
	    	name,
	    	shiro,
		    id
		)
		VALUES (
			
			#{name,jdbcType=VARCHAR},
			#{shiro,jdbcType=VARCHAR},
		    #{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="update" parameterType="com.seeyoui.kensite.framework.system.domain.SysModule">
		UPDATE SYS_MODULE
		<set>
	    	
	    	<if test="name !=null and name !=''">
			name=#{name},
			</if>
	    	<if test="shiro !=null and shiro !=''">
			shiro=#{shiro},
			</if>
		    id = #{id}
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="delete">
		DELETE FROM SYS_MODULE WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
</mapper>