<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.cms.guestbook.persistence.GuestbookMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
		T.ID AS "id",
		T.CREATE_DATE AS "createDate",
		T.CREATE_USER AS "createUser",
		T.UPDATE_DATE AS "updateDate",
		T.UPDATE_USER AS "updateUser",
		T.REMARKS AS "remarks",
		T.DEL_FLAG AS "delFlag",
		T.TYPE AS "type",
		T.CONTENT AS "content",
		T.NAME AS "name",
		T.EMAIL AS "email",
		T.PHONE AS "phone",
		T.WORKUNIT AS "workunit",
		T.IP AS "ip",
		T.REUSERID AS "reuserid",
		T.REDATE AS "redate",
		T.RECONTENT AS "recontent",
		T.SITE_ID AS "siteId",
		U.USER_NAME AS "reuser.userName",
		IFNULL(U.NAME, '匿名') AS "reuser.name",
		IFNULL(U.HEAD_ICON, 'headerIcon.png') AS "reuser.headIcon"
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="id != null and id != ''">
				
			</if>
			<if test="createDate != null and createDate != ''">
				AND T.CREATE_DATE = #{createDate}
			</if>
			<if test="createUser != null and createUser != ''">
				AND T.CREATE_USER LIKE '%${createUser}%'
			</if>
			<if test="updateDate != null and updateDate != ''">
				AND T.UPDATE_DATE = #{updateDate}
			</if>
			<if test="updateUser != null and updateUser != ''">
				AND T.UPDATE_USER LIKE '%${updateUser}%'
			</if>
			<if test="remarks != null and remarks != ''">
				AND T.REMARKS LIKE '%${remarks}%'
			</if>
			<if test="delFlag != null and delFlag != ''">
				AND T.DEL_FLAG LIKE '%${delFlag}%'
			</if>
			<if test="type != null and type != ''">
				AND T.TYPE LIKE '%${type}%'
			</if>
			<if test="content != null and content != ''">
				AND T.CONTENT LIKE '%${content}%'
			</if>
			<if test="name != null and name != ''">
				AND T.NAME LIKE '%${name}%'
			</if>
			<if test="email != null and email != ''">
				AND T.EMAIL LIKE '%${email}%'
			</if>
			<if test="phone != null and phone != ''">
				AND T.PHONE LIKE '%${phone}%'
			</if>
			<if test="workunit != null and workunit != ''">
				AND T.WORKUNIT LIKE '%${workunit}%'
			</if>
			<if test="ip != null and ip != ''">
				AND T.IP LIKE '%${ip}%'
			</if>
			<if test="reuserid != null and reuserid != ''">
				AND T.REUSERID LIKE '%${reuserid}%'
			</if>
			<if test="redate != null and redate != ''">
				AND T.REDATE = #{redate}
			</if>
			<if test="recontent != null and recontent != ''">
				AND T.RECONTENT LIKE '%${recontent}%'
			</if>
			<if test="siteId != null and siteId != ''">
				AND T.SITE_ID LIKE '%${siteId}%'
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY 
		<if test="sort != null and sort != ''">
			${sort} ${order},
		</if>
		T.CREATE_DATE DESC 
	</sql>
	<sql id="joinOn">
		LEFT JOIN SYS_USER U ON T.REUSERID=U.ID
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findOne" resultType="com.seeyoui.kensite.framework.cms.guestbook.domain.Guestbook">
		SELECT
		<include refid="tableColumns" />
		FROM CMS_GUESTBOOK T
		<include refid="joinOn" />
		WHERE T.ID = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findList" resultType="com.seeyoui.kensite.framework.cms.guestbook.domain.Guestbook">
		SELECT
		<include refid="tableColumns"/>
		FROM CMS_GUESTBOOK T
		<include refid="joinOn" />
		<include refid="whereStr"/>
		<include refid="orderBy"/>
		<![CDATA[ limit #{row}, #{rows}]]>
	</select>
	
	<!-- 查询所有数据集合 -->
	<select id="findAll" resultType="com.seeyoui.kensite.framework.cms.guestbook.domain.Guestbook">
		SELECT
		<include refid="tableColumns"/>
		FROM CMS_GUESTBOOK T
		<include refid="joinOn" />
		<include refid="whereStr"/>
		<include refid="orderBy"/>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findTotal" resultType="Integer">
		SELECT
		COUNT(1) total
		FROM CMS_GUESTBOOK T
		<include refid="whereStr"/>
	</select>
	
	<!-- 查询数据总数排除当前数据 -->
	<select id="findExTotal" resultType="Integer">
		SELECT
		COUNT(1) total
		FROM CMS_GUESTBOOK T
		<include refid="whereStr"/>
		AND T.ID != #{id}
	</select>
	
	<!-- 数据新增 -->
	<insert id="save" parameterType="com.seeyoui.kensite.framework.cms.guestbook.domain.Guestbook">
		INSERT INTO CMS_GUESTBOOK (
			
			
			
			
			
			REMARKS,
			DEL_FLAG,
			TYPE,
			CONTENT,
			NAME,
			EMAIL,
			PHONE,
			WORKUNIT,
			IP,
			REUSERID,
			REDATE,
			RECONTENT,
			SITE_ID,
			CREATE_USER,
			CREATE_DATE,
			ID
		)
		VALUES (
			
			
			
			
			
			#{remarks,jdbcType=VARCHAR},
			#{delFlag,jdbcType=VARCHAR},
			#{type,jdbcType=VARCHAR},
			#{content,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},
			#{phone,jdbcType=VARCHAR},
			#{workunit,jdbcType=VARCHAR},
			#{ip,jdbcType=VARCHAR},
			#{reuserid,jdbcType=VARCHAR},
			#{redate,jdbcType=TIMESTAMP},
			#{recontent,jdbcType=VARCHAR},
			#{siteId,jdbcType=VARCHAR},
			#{createUser.userName},
			now(),
			#{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="update" parameterType="com.seeyoui.kensite.framework.cms.guestbook.domain.Guestbook">
		UPDATE CMS_GUESTBOOK
		<set>
			
			
			
			
			
			<if test="remarks !=null and remarks !=''">
			REMARKS=#{remarks},
			</if>
			<if test="delFlag !=null and delFlag !=''">
			DEL_FLAG=#{delFlag},
			</if>
			<if test="type !=null and type !=''">
			TYPE=#{type},
			</if>
			<if test="content !=null and content !=''">
			CONTENT=#{content},
			</if>
			<if test="name !=null and name !=''">
			NAME=#{name},
			</if>
			<if test="email !=null and email !=''">
			EMAIL=#{email},
			</if>
			<if test="phone !=null and phone !=''">
			PHONE=#{phone},
			</if>
			<if test="workunit !=null and workunit !=''">
			WORKUNIT=#{workunit},
			</if>
			<if test="ip !=null and ip !=''">
			IP=#{ip},
			</if>
			<if test="reuserid !=null and reuserid !=''">
			REUSERID=#{reuserid},
			</if>
			<if test="redate !=null and redate !=''">
			REDATE=#{redate},
			</if>
			<if test="recontent !=null and recontent !=''">
			RECONTENT=#{recontent},
			</if>
			<if test="siteId !=null and siteId !=''">
			SITE_ID=#{siteId},
			</if>
			UPDATE_USER = #{updateUser.userName},
			UPDATE_DATE = now(),
			ID = #{id}
		</set>
		WHERE ID = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="delete">
		DELETE FROM CMS_GUESTBOOK WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
</mapper>