<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.report.chartConfig.persistence.ChartConfigMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
		T.ID AS "id",
		T.CREATE_DATE AS "createDate",
		T.CREATE_USER AS "createUser",
		T.UPDATE_DATE AS "updateDate",
		T.UPDATE_USER AS "updateUser",
		T.REMARKS AS "remarks",
		T.DEL_FLAG AS "delFlag",
		T.TITLE AS "title",
		T.CODE_NUM AS "codeNum",
		T.TYPE AS "type",
		T.DESCRIBE AS "describe",
		T.CHART_OPTION AS "chartOption",
		T.SERIES_OPTION AS "seriesOption",
		T.SQLX AS "sqlx",
		T.SQLY AS "sqly",
		T.SQLZ AS "sqlz",
		T.FUNC AS "func"
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="id != null and id != ''">
				
			</if>
			<if test="createDate != null and createDate != ''">
				AND T.CREATE_DATE = #{createDate}
			</if>
			<if test="createUser != null and createUser != ''">
				AND T.CREATE_USER LIKE '%'||#{createUser}||'%'
			</if>
			<if test="updateDate != null and updateDate != ''">
				AND T.UPDATE_DATE = #{updateDate}
			</if>
			<if test="updateUser != null and updateUser != ''">
				AND T.UPDATE_USER LIKE '%'||#{updateUser}||'%'
			</if>
			<if test="remarks != null and remarks != ''">
				AND T.REMARKS LIKE '%'||#{remarks}||'%'
			</if>
			<if test="delFlag != null and delFlag != ''">
				AND T.DEL_FLAG LIKE '%'||#{delFlag}||'%'
			</if>
			<if test="title != null and title != ''">
				AND T.TITLE LIKE '%'||#{title}||'%'
			</if>
			<if test="codeNum != null and codeNum != ''">
				AND T.CODE_NUM LIKE '%'||#{codeNum}||'%'
			</if>
			<if test="type != null and type != ''">
				AND T.TYPE LIKE '%'||#{type}||'%'
			</if>
			<if test="describe != null and describe != ''">
				AND T.DESCRIBE LIKE '%'||#{describe}||'%'
			</if>
			<if test="chartOption != null and chartOption != ''">
				
			</if>
			<if test="seriesOption != null and seriesOption != ''">
				
			</if>
			<if test="sqlx != null and sqlx != ''">
				AND T.SQLX LIKE '%'||#{sqlx}||'%'
			</if>
			<if test="sqly != null and sqly != ''">
				AND T.SQLY LIKE '%'||#{sqly}||'%'
			</if>
			<if test="sqlz != null and sqlz != ''">
				AND T.SQLZ LIKE '%'||#{sqlz}||'%'
			</if>
			<if test="func != null and func != ''">
				AND T.FUNC LIKE '%'||#{func}||'%'
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY 
		<if test="sort != null and sort != ''">
			${sort} ${order},
		</if>
		T.CREATE_DATE DESC 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findOne" resultType="com.seeyoui.kensite.framework.report.chartConfig.domain.ChartConfig">
		SELECT
		<include refid="tableColumns" />
		FROM KS_CHART_CONFIG T
		WHERE T.ID = #{id} OR T.CODE_NUM = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findList" resultType="com.seeyoui.kensite.framework.report.chartConfig.domain.ChartConfig">
		select * from(select T.*,rownum rn from(
			SELECT
			<include refid="tableColumns"/>
			FROM KS_CHART_CONFIG T
			<include refid="whereStr"/>
			<include refid="orderBy"/>
		) T WHERE rownum &lt; = #{page}*#{rows}) where rn &gt; (#{page}-1)*#{rows}
	</select>
	
	<!-- 查询所有数据集合 -->
	<select id="findAll" resultType="com.seeyoui.kensite.framework.report.chartConfig.domain.ChartConfig">
		SELECT
		<include refid="tableColumns"/>
		FROM KS_CHART_CONFIG T
		<include refid="whereStr"/>
		<include refid="orderBy"/>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findTotal" resultType="Integer">
		SELECT
		COUNT(1) total
		FROM KS_CHART_CONFIG T
		<include refid="whereStr"/>
	</select>
	
	<!-- 查询数据总数排除当前数据 -->
	<select id="findExTotal" resultType="Integer">
		SELECT
		COUNT(1) total
		FROM KS_CHART_CONFIG T
		<where>
			1=1
			<if test="id != null and id != ''">
				AND T.ID != #{id}
			</if>
			<if test="codeNum != null and codeNum != ''">
				AND T.CODE_NUM LIKE #{codeNum}
			</if>
		</where>
	</select>
	
	<!-- 数据新增 -->
	<insert id="save" parameterType="com.seeyoui.kensite.framework.report.chartConfig.domain.ChartConfig">
		INSERT INTO KS_CHART_CONFIG (
			
			
			
			
			
			REMARKS,
			DEL_FLAG,
			TITLE,
			CODE_NUM,
			TYPE,
			DESCRIBE,
			CHART_OPTION,
			SERIES_OPTION,
			SQLX,
			SQLY,
			SQLZ,
			FUNC,
			CREATE_USER,
			CREATE_DATE,
			ID
		)
		VALUES (
			
			
			
			
			
			#{remarks,jdbcType=VARCHAR},
			#{delFlag,jdbcType=VARCHAR},
			#{title,jdbcType=VARCHAR},
			#{codeNum,jdbcType=VARCHAR},
			#{type,jdbcType=VARCHAR},
			#{describe,jdbcType=VARCHAR},
			#{chartOption,jdbcType=CLOB},
			#{seriesOption,jdbcType=CLOB},
			#{sqlx,jdbcType=VARCHAR},
			#{sqly,jdbcType=VARCHAR},
			#{sqlz,jdbcType=VARCHAR},
			#{func,jdbcType=VARCHAR},
			#{createUser.userName},
			sysdate,
			#{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="update" parameterType="com.seeyoui.kensite.framework.report.chartConfig.domain.ChartConfig">
		UPDATE KS_CHART_CONFIG
		<set>
			
			
			
			
			
			<if test="remarks !=null and remarks !=''">
			REMARKS=#{remarks},
			</if>
			<if test="delFlag !=null and delFlag !=''">
			DEL_FLAG=#{delFlag},
			</if>
			<if test="title !=null and title !=''">
			TITLE=#{title},
			</if>
			<if test="codeNum !=null and codeNum !=''">
			CODE_NUM=#{codeNum},
			</if>
			<if test="type !=null and type !=''">
			TYPE=#{type},
			</if>
			<if test="describe !=null and describe !=''">
			DESCRIBE=#{describe},
			</if>
			<if test="chartOption !=null and chartOption !=''">
			CHART_OPTION=#{chartOption},
			</if>
			<if test="seriesOption !=null and seriesOption !=''">
			SERIES_OPTION=#{seriesOption},
			</if>
			<if test="sqlx !=null and sqlx !=''">
			SQLX=#{sqlx},
			</if>
			<if test="sqly !=null and sqly !=''">
			SQLY=#{sqly},
			</if>
			<if test="sqlz !=null and sqlz !=''">
			SQLZ=#{sqlz},
			</if>
			<if test="func !=null and func !=''">
			FUNC=#{func},
			</if>
			UPDATE_USER = #{updateUser.userName},
			UPDATE_DATE = sysdate,
			ID = #{id}
		</set>
		WHERE ID = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="delete">
		DELETE FROM KS_CHART_CONFIG WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
</mapper>