<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.quartz.quartzConf.persistence.QuartzConfMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
		T.ID AS "id",
		T.CREATE_DATE AS "createDate",
		T.CREATE_USER AS "createUser",
		T.UPDATE_DATE AS "updateDate",
		T.UPDATE_USER AS "updateUser",
		T.REMARKS AS "remarks",
		T.DEL_FLAG AS "delFlag",
		T.JOB_NAME AS "jobName",
		T.ALIAS_NAME AS "aliasName",
		T.JOB_GROUP AS "jobGroup",
		T.JOB_TRIGGER AS "jobTrigger",
		T.CRON_EXPRESSION AS "cronExpression",
		T.IS_SYNC AS "isSync",
		T.DESCRIPTION AS "description",
		T.STATUS AS "status",
		T.JOB_CLASS AS "jobClass",
		T.START_AT AS "startAt",
		T.END_AT AS "endAt"
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="id != null and id != ''">
				
			</if>
			<if test="createDate != null and createDate != ''">
				AND T.CREATE_DATE = #{createDate}
			</if>
			<if test="createUser != null and createUser != ''">
				AND T.CREATE_USER LIKE '%'||#{createUser}||'%'
			</if>
			<if test="updateDate != null and updateDate != ''">
				AND T.UPDATE_DATE = #{updateDate}
			</if>
			<if test="updateUser != null and updateUser != ''">
				AND T.UPDATE_USER LIKE '%'||#{updateUser}||'%'
			</if>
			<if test="remarks != null and remarks != ''">
				AND T.REMARKS LIKE '%'||#{remarks}||'%'
			</if>
			<if test="delFlag != null and delFlag != ''">
				AND T.DEL_FLAG LIKE '%'||#{delFlag}||'%'
			</if>
			<if test="jobName != null and jobName != ''">
				AND T.JOB_NAME LIKE '%'||#{jobName}||'%'
			</if>
			<if test="aliasName != null and aliasName != ''">
				AND T.ALIAS_NAME LIKE '%'||#{aliasName}||'%'
			</if>
			<if test="jobGroup != null and jobGroup != ''">
				AND T.JOB_GROUP LIKE '%'||#{jobGroup}||'%'
			</if>
			<if test="jobTrigger != null and jobTrigger != ''">
				AND T.JOB_TRIGGER LIKE '%'||#{jobTrigger}||'%'
			</if>
			<if test="cronExpression != null and cronExpression != ''">
				AND T.CRON_EXPRESSION LIKE '%'||#{cronExpression}||'%'
			</if>
			<if test="isSync != null and isSync != ''">
				AND T.IS_SYNC LIKE '%'||#{isSync}||'%'
			</if>
			<if test="description != null and description != ''">
				AND T.DESCRIPTION LIKE '%'||#{description}||'%'
			</if>
			<if test="status != null and status != ''">
				AND T.STATUS LIKE '%'||#{status}||'%'
			</if>
			<if test="jobClass != null and jobClass != ''">
				AND T.JOB_CLASS LIKE '%'||#{jobClass}||'%'
			</if>
			<if test="startAt != null and startAt != ''">
				AND T.START_AT = #{startAt}
			</if>
			<if test="endAt != null and endAt != ''">
				AND T.END_AT = #{endAt}
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY 
		<if test="sort != null and sort != ''">
			#{sort} #{order},
		</if>
		T.CREATE_DATE DESC 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findOne" resultType="com.seeyoui.kensite.framework.quartz.quartzConf.domain.QuartzConf">
		SELECT
		<include refid="tableColumns" />
		FROM JOB_QUARTZ_CONF T
		WHERE T.ID = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findList" resultType="com.seeyoui.kensite.framework.quartz.quartzConf.domain.QuartzConf">
		select * from(select T.*,rownum rn from(
			SELECT
			<include refid="tableColumns"/>
			FROM JOB_QUARTZ_CONF T
			<include refid="whereStr"/>
			<include refid="orderBy"/>
		) T WHERE rownum &lt; = #{page}*#{rows}) where rn &gt; (#{page}-1)*#{rows}
	</select>
	
	<!-- 查询所有数据集合 -->
	<select id="findAll" resultType="com.seeyoui.kensite.framework.quartz.quartzConf.domain.QuartzConf">
		SELECT
		<include refid="tableColumns"/>
		FROM JOB_QUARTZ_CONF T
		<include refid="whereStr"/>
		<include refid="orderBy"/>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findTotal" resultType="Integer">
		SELECT
		COUNT(1) total
		FROM JOB_QUARTZ_CONF T
		<include refid="whereStr"/>
	</select>
	
	<!-- 查询数据总数排除当前数据 -->
	<select id="findExTotal" resultType="Integer">
		SELECT
		COUNT(1) total
		FROM JOB_QUARTZ_CONF T
		<include refid="whereStr"/>
		AND T.ID != #{id}
	</select>
	
	<!-- 数据新增 -->
	<insert id="save" parameterType="com.seeyoui.kensite.framework.quartz.quartzConf.domain.QuartzConf">
		INSERT INTO JOB_QUARTZ_CONF (
			
			
			
			
			
			REMARKS,
			DEL_FLAG,
			JOB_NAME,
			ALIAS_NAME,
			JOB_GROUP,
			JOB_TRIGGER,
			CRON_EXPRESSION,
			IS_SYNC,
			DESCRIPTION,
			STATUS,
			JOB_CLASS,
			START_AT,
			END_AT,
			CREATE_USER,
			CREATE_DATE,
			ID
		)
		VALUES (
			
			
			
			
			
			#{remarks,jdbcType=VARCHAR},
			#{delFlag,jdbcType=VARCHAR},
			#{jobName,jdbcType=VARCHAR},
			#{aliasName,jdbcType=VARCHAR},
			#{jobGroup,jdbcType=VARCHAR},
			#{jobTrigger,jdbcType=VARCHAR},
			#{cronExpression,jdbcType=VARCHAR},
			#{isSync,jdbcType=VARCHAR},
			#{description,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			#{jobClass,jdbcType=VARCHAR},
			#{startAt,jdbcType=TIMESTAMP},
			#{endAt,jdbcType=TIMESTAMP},
			#{createUser.userName},
			sysdate,
			#{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="update" parameterType="com.seeyoui.kensite.framework.quartz.quartzConf.domain.QuartzConf">
		UPDATE JOB_QUARTZ_CONF
		<set>
			
			
			
			
			
			<if test="remarks !=null and remarks !=''">
			REMARKS=#{remarks},
			</if>
			<if test="delFlag !=null and delFlag !=''">
			DEL_FLAG=#{delFlag},
			</if>
			<if test="jobName !=null and jobName !=''">
			JOB_NAME=#{jobName},
			</if>
			<if test="aliasName !=null and aliasName !=''">
			ALIAS_NAME=#{aliasName},
			</if>
			<if test="jobGroup !=null and jobGroup !=''">
			JOB_GROUP=#{jobGroup},
			</if>
			<if test="jobTrigger !=null and jobTrigger !=''">
			JOB_TRIGGER=#{jobTrigger},
			</if>
			<if test="cronExpression !=null and cronExpression !=''">
			CRON_EXPRESSION=#{cronExpression},
			</if>
			<if test="isSync !=null and isSync !=''">
			IS_SYNC=#{isSync},
			</if>
			<if test="description !=null and description !=''">
			DESCRIPTION=#{description},
			</if>
			<if test="status !=null and status !=''">
			STATUS=#{status},
			</if>
			<if test="jobClass !=null and jobClass !=''">
			JOB_CLASS=#{jobClass},
			</if>
			<if test="startAt !=null and startAt !=''">
			START_AT=#{startAt},
			</if>
			<if test="endAt !=null and endAt !=''">
			END_AT=#{endAt},
			</if>
			UPDATE_USER = #{updateUser.userName},
			UPDATE_DATE = sysdate,
			ID = #{id}
		</set>
		WHERE ID = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="delete">
		DELETE FROM JOB_QUARTZ_CONF WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
</mapper>