<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.eshop.shop.persistence.ShopMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
		T.ID AS "id",
		T.CREATE_DATE AS "createDate",
		T.CREATE_USER AS "createUser",
		T.UPDATE_DATE AS "updateDate",
		T.UPDATE_USER AS "updateUser",
		T.REMARKS AS "remarks",
		T.DEL_FLAG AS "delFlag",
		T.USER_NAME AS "userName",
		T.PASS_WORD AS "passWord",
		T.NAME AS "name",
		T.LOGO AS "logo",
		T.DESCRIBE AS "describe",
		T.ADDRESS AS "address",
		T.CONFIG AS "config"
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="id != null and id != ''">
				
			</if>
			<if test="createDate != null and createDate != ''">
				AND T.CREATE_DATE = #{createDate}
			</if>
			<if test="createUser != null and createUser != ''">
				AND T.CREATE_USER LIKE '%${createUser}%'
			</if>
			<if test="updateDate != null and updateDate != ''">
				AND T.UPDATE_DATE = #{updateDate}
			</if>
			<if test="updateUser != null and updateUser != ''">
				AND T.UPDATE_USER LIKE '%${updateUser}%'
			</if>
			<if test="remarks != null and remarks != ''">
				AND T.REMARKS LIKE '%${remarks}%'
			</if>
			<if test="delFlag != null and delFlag != ''">
				AND T.DEL_FLAG LIKE '%${delFlag}%'
			</if>
			<if test="userName != null and userName != ''">
				AND T.USER_NAME LIKE '%${userName}%'
			</if>
			<if test="passWord != null and passWord != ''">
				AND T.PASS_WORD LIKE '%${passWord}%'
			</if>
			<if test="name != null and name != ''">
				AND T.NAME LIKE '%${name}%'
			</if>
			<if test="logo != null and logo != ''">
				AND T.LOGO LIKE '%${logo}%'
			</if>
			<if test="describe != null and describe != ''">
				AND T.DESCRIBE LIKE '%${describe}%'
			</if>
			<if test="address != null and address != ''">
				AND T.ADDRESS LIKE '%${address}%'
			</if>
			<if test="config != null and config != ''">
				
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY 
		<if test="sort != null and sort != ''">
			${sort} ${order},
		</if>
		T.CREATE_DATE DESC 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findOne" resultType="com.seeyoui.kensite.framework.eshop.shop.domain.Shop">
		SELECT
		<include refid="tableColumns" />
		FROM ES_SHOP T
		WHERE T.ID = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findList" resultType="com.seeyoui.kensite.framework.eshop.shop.domain.Shop">
		SELECT
		<include refid="tableColumns"/>
		FROM ES_SHOP T
		<include refid="whereStr"/>
		<include refid="orderBy"/>
		<![CDATA[ limit #{row}, #{rows}]]>
	</select>
	
	<!-- 查询所有数据集合 -->
	<select id="findAll" resultType="com.seeyoui.kensite.framework.eshop.shop.domain.Shop">
		SELECT
		<include refid="tableColumns"/>
		FROM ES_SHOP T
		<include refid="whereStr"/>
		<include refid="orderBy"/>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findTotal" resultType="Integer">
		SELECT
		COUNT(1) total
		FROM ES_SHOP T
		<include refid="whereStr"/>
	</select>
	
	<!-- 查询数据总数排除当前数据 -->
	<select id="findExTotal" resultType="Integer">
		SELECT
		COUNT(1) total
		FROM ES_SHOP T
		<include refid="whereStr"/>
		AND T.ID != #{id}
	</select>
	
	<!-- 数据新增 -->
	<insert id="save" parameterType="com.seeyoui.kensite.framework.eshop.shop.domain.Shop">
		INSERT INTO ES_SHOP (
			
			
			
			
			
			REMARKS,
			
			USER_NAME,
			PASS_WORD,
			NAME,
			LOGO,
			DESCRIBE,
			ADDRESS,
			CONFIG,
			CREATE_USER,
			CREATE_DATE,
			ID
		)
		VALUES (
			
			
			
			
			
			#{remarks,jdbcType=VARCHAR},
			
			#{userName,jdbcType=VARCHAR},
			#{passWord,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{logo,jdbcType=VARCHAR},
			#{describe,jdbcType=VARCHAR},
			#{address,jdbcType=VARCHAR},
			#{config,jdbcType=CLOB},
			#{createUser.userName},
			now(),
			#{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="update" parameterType="com.seeyoui.kensite.framework.eshop.shop.domain.Shop">
		UPDATE ES_SHOP
		<set>
			
			
			
			
			
			<if test="remarks !=null and remarks !=''">
			REMARKS=#{remarks},
			</if>
			
			<if test="userName !=null and userName !=''">
			USER_NAME=#{userName},
			</if>
			<if test="passWord !=null and passWord !=''">
			PASS_WORD=#{passWord},
			</if>
			<if test="name !=null and name !=''">
			NAME=#{name},
			</if>
			<if test="logo !=null and logo !=''">
			LOGO=#{logo},
			</if>
			<if test="describe !=null and describe !=''">
			DESCRIBE=#{describe},
			</if>
			<if test="address !=null and address !=''">
			ADDRESS=#{address},
			</if>
			<if test="config !=null and config !=''">
			CONFIG=#{config},
			</if>
			UPDATE_USER = #{updateUser.userName},
			UPDATE_DATE = now(),
			ID = #{id}
		</set>
		WHERE ID = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="delete">
		DELETE FROM ES_SHOP WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
	
	<!-- 数据假删除 -->
	<update id="remove" parameterType="com.seeyoui.kensite.framework.eshop.shop.domain.Shop">
		UPDATE ES_SHOP
		<set>
			UPDATE_USER = #{updateUser.userName},
			UPDATE_DATE = now(),
			DEL_FLAG = '1'
		</set>
		WHERE ID = #{id}
	</update>
	
</mapper>