<#assign className = table.className> 
<#assign classNameLower = className?uncap_first>

<#function getWhereStr column>
<#assign dbtype=column.sqlTypeName?lower_case>
<#assign colname=column.columnName?lower_case>
<#assign rtn>
<#if (colname=="id") ><#else>
<#if (dbtype=="number"||dbtype=="decimal") >
AND T.${column.sqlName} = ${"#{"+column.columnNameLower+"}"}
<#elseif (dbtype=="varchar2"||dbtype=="char"||dbtype=="nvarchar2"||dbtype=="varchar")>
AND T.${column.sqlName} LIKE '%${"${"+column.columnNameLower+"}"}%'
<#elseif (dbtype=="clob"||dbtype=="text")>
<#elseif (dbtype=="date"||dbtype=="datetime")>
AND T.${column.sqlName} = ${"#{"+column.columnNameLower+"}"}
</#if>
</#if>
</#assign>
<#return rtn?trim>
</#function>

<#function getInsertColStr column>
<#assign dbtype=column.sqlTypeName?lower_case>
<#assign colname=column.columnName?lower_case>
<#assign rtn>
<#if (colname=="id"||colname=="createdate"||colname=="updatedate"||colname=="updateuser"||colname=="createuser"||colname=="delflag") ><#else>
${column.sqlName},
</#if>
</#assign>
<#return rtn?trim>
</#function>

<#function getInsertDataStr column>
<#assign dbtype=column.sqlTypeName?lower_case>
<#assign colname=column.columnName?lower_case>
<#assign rtn>
<#if (colname=="id"||colname=="createdate"||colname=="updatedate"||colname=="updateuser"||colname=="createuser"||colname=="delflag") ><#else>
<#if ((dbtype=="number"||dbtype=="decimal")&&column.decimalDigits==0) >
${"#{"+column.columnNameLower+",jdbcType=NUMERIC}"},
<#elseif ((dbtype=="number"||dbtype=="decimal")&&column.decimalDigits!=0)>
${"#{"+column.columnNameLower+",jdbcType=NUMERIC}"},
<#elseif (dbtype=="varchar2"||dbtype=="char"||dbtype=="nvarchar2"||dbtype=="varchar")>
${"#{"+column.columnNameLower+",jdbcType=VARCHAR}"},
<#elseif (dbtype=="clob"||dbtype=="text")>
${"#{"+column.columnNameLower+",jdbcType=CLOB}"},
<#elseif (dbtype=="date"||dbtype=="datetime")>
${"#{"+column.columnNameLower+",jdbcType=TIMESTAMP}"},
</#if>
</#if>
</#assign>
<#return rtn?trim>
</#function>

<#function getUpdateStr column>
<#assign dbtype=column.sqlTypeName?lower_case>
<#assign colname=column.columnName?lower_case>
<#assign rtn>
<#if (colname=="id"||colname=="createdate"||colname=="updatedate"||colname=="createuser"||colname=="updateuser"||colname=="delflag") ><#else>
${"<if test=\""+column.columnNameLower+" !=null and "+column.columnNameLower+" !=''\">"}
			${column.sqlName}=${"#{"+column.columnNameLower+"}"},
			${"</if>"}
</#if>
</#assign>
<#return rtn?trim>
</#function>
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${basepackage}.${innerpackage}.${table.classNameFirstLower}.persistence.${className}Mapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
		<#list table.columns as column>
		T.${column.sqlName} AS "${column.columnNameLower}"<#if column_has_next>,</#if>
		</#list>
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<#list table.columns as column>
			<if test="${column.columnNameLower} != null and ${column.columnNameLower} != ''">
				${getWhereStr(column)}
			</if>
		</#list>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY 
		<if test="sort != null and sort != ''">
			${"${"}sort${"}"} ${"${"}order${"}"},
		</if>
		T.CREATE_DATE DESC 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findOne" resultType="${basepackage}.${innerpackage}.${table.classNameFirstLower}.domain.${className}">
		SELECT
		<include refid="tableColumns" />
		FROM ${table.sqlName} T
		WHERE T.ID = ${"#{"}id${"}"}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findList" resultType="${basepackage}.${innerpackage}.${table.classNameFirstLower}.domain.${className}">
		SELECT
		<include refid="tableColumns"/>
		FROM ${table.sqlName} T
		<include refid="whereStr"/>
		<include refid="orderBy"/>
		<![CDATA[ limit ${"#{"}row${"}"}, ${"#{"}rows${"}"}]]>
	</select>
	
	<!-- 查询所有数据集合 -->
	<select id="findAll" resultType="${basepackage}.${innerpackage}.${table.classNameFirstLower}.domain.${className}">
		SELECT
		<include refid="tableColumns"/>
		FROM ${table.sqlName} T
		<include refid="whereStr"/>
		<include refid="orderBy"/>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findTotal" resultType="Integer">
		SELECT
		COUNT(1) total
		FROM ${table.sqlName} T
		<include refid="whereStr"/>
	</select>
	
	<!-- 查询数据总数排除当前数据 -->
	<select id="findExTotal" resultType="Integer">
		SELECT
		COUNT(1) total
		FROM ${table.sqlName} T
		<include refid="whereStr"/>
		AND T.ID != ${"#{"}id${"}"}
	</select>
	
	<!-- 数据新增 -->
	<insert id="save" parameterType="${basepackage}.${innerpackage}.${table.classNameFirstLower}.domain.${className}">
		<#list table.columns as column>
			<#if (column.columnName=="id") >
				<#if column.sqlTypeName=="number" >
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT SEQ_COMMON_BO_ID.NEXTVAL FROM DUAL
		</selectKey>
				</#if>
			</#if>
		</#list>
		INSERT INTO ${table.sqlName} (
			<#list table.columns as column>
			${getInsertColStr(column)}
			</#list>
			CREATE_USER,
			CREATE_DATE,
			ID
		)
		VALUES (
			<#list table.columns as column>
			${getInsertDataStr(column)}
			</#list>
			${"#{"}createUser.userName${"}"},
			now(),
			${"#{"}id${"}"}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="update" parameterType="${basepackage}.${innerpackage}.${table.classNameFirstLower}.domain.${className}">
		UPDATE ${table.sqlName}
		<set>
			<#list table.columns as column>
			${getUpdateStr(column)}
			</#list>
			UPDATE_USER = ${"#{"}updateUser.userName${"}"},
			UPDATE_DATE = now(),
			ID = ${"#{"}id${"}"}
		</set>
		WHERE ID = ${"#{"}id${"}"}
	</update>
	
	<!-- 数据删除 -->
	<delete id="delete">
		DELETE FROM ${table.sqlName} WHERE ${"id"} IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			${"#{"}listId${"}"}
		</foreach>
	</delete>
	
	<!-- 数据假删除 -->
	<update id="remove" parameterType="${basepackage}.${innerpackage}.${table.classNameFirstLower}.domain.${className}">
		UPDATE ${table.sqlName}
		<set>
			UPDATE_USER = ${"#{"}updateUser.userName${"}"},
			UPDATE_DATE = now(),
			DEL_FLAG = '1'
		</set>
		WHERE ID = ${"#{"}id${"}"}
	</update>
	
	<#if (lucene=="Y") >
	<!-- 查询所有数据集合 -->
	<select id="findLucene" resultType="${basepackage}.${innerpackage}.${table.classNameFirstLower}.domain.${className}">
		SELECT
		<include refid="tableColumns"/>
		FROM ${table.sqlName} T
		WHERE ${"id"} IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			${"#{"}listId${"}"}
		</foreach>
	</select>
	</#if>
</mapper>