<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.system.persistence.SysPermissionMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
	    t.id,
	    t.sequence,
	    t.name
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="id != null and id != ''">
				and t.id LIKE '%'||#{id}||'%'
			</if>
			<if test="sequence != null and sequence != ''">
				and t.sequence = #{sequence}
			</if>
			<if test="name != null and name != ''">
				and t.name LIKE '%'||#{name}||'%'
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY t.sequence asc 
	</sql>
	
	<!-- 根据ID查询单条数据 -->
	<select id="findOne" resultType="com.seeyoui.kensite.framework.system.domain.SysPermission">
		SELECT
		<include refid="tableColumns" />
		FROM SYS_PERMISSION t
		WHERE id = #{id}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findList" resultType="com.seeyoui.kensite.framework.system.domain.SysPermission">
		select * from(select t.*,rownum rn from(
			SELECT
			<include refid="tableColumns"/>
			FROM SYS_PERMISSION t
			<include refid="whereStr"/>
			<include refid="orderBy"/>
		) t where rownum &lt; = #{page}*#{rows}) where rn &gt; (#{page}-1)*#{rows}
	</select>
	
	<!-- 查询数据集合 -->
	<select id="findAll" resultType="com.seeyoui.kensite.framework.system.domain.SysPermission">
		SELECT
		<include refid="tableColumns"/>
		FROM SYS_PERMISSION t
		<include refid="whereStr"/>
		<include refid="orderBy"/>
	</select>
	
	<!-- 查询用户权限集合 -->
	<select id="findSysUserList" resultType="com.seeyoui.kensite.framework.system.domain.SysPermission" parameterType="SysUser">
		select sm.shiro || ':' || sp.id id,
		su.name || '[' || su.user_name || ']' || '-' || sm.name || '-' || sp.name name
		from sys_user su
		left join sys_user_role sur
		on su.id = sur.user_id 
		left join sys_role sr
		on sur.role_id = sr.id
		left join sys_role_module srm
		on sr.id = srm.role_id
		left join sys_module sm
		on srm.module_id = sm.id
		left join sys_module_permission smp
		on sm.id = smp.module_id
		left join sys_permission sp
		on smp.permission_id = sp.id
		<where>
			1=1
			<if test="userName !=null and userName !=''">
			and su.user_name=#{userName}
			</if>
		</where>
	</select>
	
	<!-- 查询数据总数 -->
	<select id="findTotal" resultType="Integer">
		SELECT
		COUNT(id)total
		FROM SYS_PERMISSION t
		<include refid="whereStr"/>
	</select>
	
	<!-- 数据新增 -->
	<insert id="save" parameterType="com.seeyoui.kensite.framework.system.domain.SysPermission">
		INSERT INTO SYS_PERMISSION (
	    	
	    	sequence,
	    	name,
		    id
		)
		VALUES (
			
			#{sequence,jdbcType=NUMERIC},
			#{name,jdbcType=VARCHAR},
		    #{id}
		)
	</insert>
	
	<!-- 数据修改 -->
	<update id="update" parameterType="com.seeyoui.kensite.framework.system.domain.SysPermission">
		UPDATE SYS_PERMISSION
		<set>
	    	
	    	<if test="sequence !=null and sequence !=''">
			sequence=#{sequence},
			</if>
	    	<if test="name !=null and name !=''">
			name=#{name},
			</if>
		    id = #{id}
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 数据删除 -->
	<delete id="delete">
		DELETE FROM SYS_PERMISSION WHERE id IN 
		<foreach item="listId" collection="list"
			open="(" separator="," close=")">
			#{listId}
		</foreach>
	</delete>
</mapper>