<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeyoui.kensite.framework.system.persistence.SysUserRoleMapper" >
	<!-- 查询单表的字段 -->
	<sql id="tableColumns">
	    t.user_id as "userId",
	    t.role_id as "roleId"
	</sql>
	<!-- 查询过滤条件 -->
	<sql id="whereStr">
		<where>
			1=1
			<if test="userId != null and userId != ''">
				and t.user_id LIKE '%'||#{userId}||'%'
			</if>
			<if test="roleId != null and roleId != ''">
				and t.role_id LIKE '%'||#{roleId}||'%'
			</if>
		</where>
	</sql>
	<sql id="orderBy">
		ORDER BY t.id DESC 
	</sql>
	
	<!-- 查询数据TREE -->
	<select id="tree" resultType="com.seeyoui.kensite.framework.system.domain.SysRole" parameterType="com.seeyoui.kensite.framework.system.domain.SysUserRole">
		SELECT 
		t.id,
		t.name,
		case when su.id is null then 'F' else 'T' end shiro
		from sys_role t
		left join sys_user_role sur
		on sur.role_id = t.id and sur.user_id=#{userId}
		left join sys_user su
		on su.id = sur.user_id
		ORDER BY t.id ASC
	</select>
	
	<!-- 数据新增 -->
	<insert id="save" parameterType="com.seeyoui.kensite.framework.system.domain.SysUserRole">
		INSERT INTO SYS_USER_ROLE (
			user_id,
	    	role_id
		)
		VALUES (
			#{userId,jdbcType=VARCHAR},
			#{roleId,jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 数据删除 -->
	<delete id="delete">
		DELETE FROM SYS_USER_ROLE WHERE user_id=#{userId}
	</delete>
</mapper>